#app-header {
  display: grid;
  grid-template-rows: 40px;
  grid-template-columns: 48px 1fr 48px;
  gap: 0px;
  padding: 0 0px;
  background: var(--lightgrey);
}

#app-header-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

#app-header-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

#app-title {
  font-weight: 300;
  color: #323232;
  letter-spacing: 3px;
  /* text-transform: uppercase; */
  /* text-transform: lowercase; */
}

#app-header-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}