<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
  <title>Kanbanify</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/7.3.0/rxjs.umd.min.js" integrity="sha512-y3JTS47nnpKORJX8Jn1Rlm+QgRIIZHtu3hWxal0e81avPrqUH48yk+aCi+gprT0RMAcpYa0WCkapxe+bpBHD6g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="./css/base.css" />
  <link rel="stylesheet" href="./css/app.css" />
  <link rel="stylesheet" href="./css/app-header.css" />
  <link rel="stylesheet" href="./css/app-footer.css" />
  <link rel="stylesheet" href="./css/app-body.css" />
  <link rel="stylesheet" href="./css/kanban-card.css" />

</head>

<body>
  <div id="app">
    <header id="app-header">
      <div id="app-header-left"></div>
      <div id="app-header-center">
        <h1 id="app-title">My First Board</h1>
      </div>
      <div id="app-header-right"></div>
    </header>
    <section id="app-body">
      <section id="kanban-board" class="board-wrapper">
        <ul class="column__list">

          <li class="column__item">
            <div class="column__title--wrapper">
              <h2>Incoming Bugs</h2>
              <i class="fas fa-ellipsis-h"></i>
            </div>
            <ul class="card__list">

              <li class="card__item">
                <section class="card__tags">
                  <span class="card__tag card__tag--mobile">Mobile</span>
                  <span class="card__tag card__tag--high">High Priority</span>
                </section>

                <section class="card__content">
                  <h5 class="card__content--title">Pop-over max width issue on mobile</h5>
                  <div class="card__content--description">Pop-over max width issue on mobile</div>
                </section>

                <section class="card__detail">
                  <ol class="card__actions">
                    <li class="card__actions--wrapper">
                      <i class="fas fa-align-left"></i>
                    </li>
                    <li class="card__actions--wrapper">
                      <i class="far fa-comment"></i><span class="card__actions--text">1</span>
                    </li>
                  </ol>

                  <ol class="card__avatars">
                    <li class="card__avatars--item">
                      <img src="https://images.unsplash.com/photo-1516756587022-7891ad56a8cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Woman, Lady, Female" class="avatar__image">
                    </li>
                    <li class="card__avatars--item">
                      <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Woman standing near blue steel gate" class="avatar__image">
                    </li>
                  </ol>
                </section>
              </li>
              <li class="card__item">
                <span class="card__tag card__tag--browser">Browser</span>
                <h6 class="card__title">Lightbox loading issue on Safari</h6>
                <ol class="card__actions">
                  <li class="card__actions--wrapper">
                    <i class="fas fa-align-left"></i>
                  </li>
                </ol>
              </li>
              <li class="card__item">
                <span class="card__tag card__tag--high">High Priority</span>
                <span class="card__tag card__tag--mobile">Mobile</span>
                <span class="card__tag card__tag--high">High Priority</span>
                <span class="card__tag card__tag--mobile">Mobile</span>
                <span class="card__tag card__tag--high">High Priority</span>
                <span class="card__tag card__tag--mobile">Mobile</span>
                <span class="card__tag card__tag--high">High Priority</span>
                <h6 class="card__title">Notifications Not Sending #4</h6>
              </li>
              <li class="card__item">
                <span class="card__tag card__tag--browser">Browser</span>
                <h6 class="card__title">Multiple Select Broken</h6>
                <ol class="card__actions">
                  <li class="card__actions--wrapper">
                    <i class="fas fa-align-left"></i>
                  </li>
                </ol>
              </li>
              <li class="card__item">
                <span class="card__tag card__tag--browser">Browser</span>
                <h6 class="card__title">Drag and drop issues in Chrome</h6>
                <ol class="card__actions">
                  <li class="card__actions--wrapper">
                    <i class="fas fa-align-left"></i>
                  </li>
                </ol>
              </li>
              <li class="card__item">
                <span class="card__tag card__tag--design">Design</span>
                <span class="card__tag card__tag--high">High Priority</span>
                <h6 class="card__title">Download icon rendering issue</h6>
                <ol class="card__actions">
                  <li class="card__actions--wrapper">
                    <i class="fas fa-align-left"></i>
                  </li>
                </ol>
              </li>
              <li class="card__item">
                <span class="card__tag card__tag--browser">Browser</span>
                <span class="card__tag card__tag--low">Low Priority</span>
                <h6 class="card__title">Tab to comment goes to wrong field</h6>
                <ol class="card__actions">
                  <li class="card__actions--wrapper">
                    <i class="fas fa-align-left"></i>
                  </li>
                </ol>
              </li>
              <li class="card__item">
                <span class="card__tag card__tag--high">High Priority</span>
                <h6 class="card__title">Video load issues on IE 11</h6>
                <ol class="card__actions">
                  <li class="card__actions--wrapper">
                    <i class="fas fa-align-left"></i>
                  </li>
                </ol>
              </li>
            </ul>
            <div class="column__item--cta">
              <i class="fas fa-plus"></i>
              <h4>Add another card</h4>
            </div>
          </li>

          <li class="column__item">
            <div class="column__title--wrapper">
              <h2>In Progress</h2>
              <i class="fas fa-ellipsis-h"></i>
            </div>
            <ul class="card__list">
              <li class="card__item">
                <span class="card__tag card__tag--high">High Priotity</span>
                <h6 class="card__title">Localization</h6>
                <ol class="card__actions">
                  <li class="card__actions--wrapper">
                    <i class="far fa-check-square"></i><span class="card__actions--text">1/4</span>
                  </li>
                  <ol class="card__avatars">
                    <li class="card__avatars--item">
                      <!-- Photo by Philip Martin on Unsplash -->
                      <img src="https://images.unsplash.com/photo-1521119989659-a83eee488004?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=664&q=80" alt="Man standing near balcony" class="avatar__image">
                    </li>
                  </ol>
                </ol>
              </li>
              <li class="card__item">
                <!-- <img src="https://trello-attachments.s3.amazonaws.com/5501f5265b23195e950742e9/300x300/5a2bf59113b7211315c399c8b9814e9d/Thumbs_Up_Icons.jpg" class="card__image"> -->
                <span class="card__tag card__tag--design">Design</span>
                <h6 class="card__title">"Like" button in comments</h6>
                <ol class="card__actions">
                  <li class="card__actions--wrapper">
                    <i class="fas fa-paperclip"></i><span class="card__actions--text">1</span>
                  </li>
                  <ol class="card__avatars">
                    <li class="card__avatars--item">
                      <!-- Photo by Michael Alfonso on Unsplash -->
                      <img src="https://images.unsplash.com/photo-1516756587022-7891ad56a8cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Woman, Lady, Female" class="avatar__image">
                    </li>
                    <li class="card__avatars--item">
                      <!-- Photo by Toa Heftiba on Unsplash -->
                      <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Woman standing near blue steel gate" class="avatar__image">
                    </li>
                  </ol>
                </ol>
              </li>
              <li class="card__item">
                <h6 class="card__title">Operation: All The Bugs</h6>
                <ol class="card__actions">
                  <li class="card__actions--wrapper">
                    <i class="fas fa-align-left"></i>
                  </li>
                  <ol class="card__avatars">
                    <li class="card__avatars--item">
                      <!-- Photo by Philip Martin on Unsplash -->
                      <img src="https://images.unsplash.com/photo-1521119989659-a83eee488004?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=664&q=80" alt="Man standing near balcony" class="avatar__image">
                    </li>
                  </ol>
                </ol>
              </li>
              <li class="card__item">
                <span class="card__tag card__tag--low">Low Priority</span>
                <h6 class="card__title">Make JSON Pretty</h6>
                <ol class="card__actions">
                  <li class="card__actions--wrapper">
                    <i class="fas fa-align-left"></i>
                  </li>
                  <ol class="card__avatars">
                    <li class="card__avatars--item">
                      <!-- Photo by Toa Heftiba on Unsplash -->
                      <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Woman standing near blue steel gate" class="avatar__image">
                    </li>
                  </ol>
                </ol>
              </li>
            </ul>
            <div class="column__item--cta">
              <i class="fas fa-plus"></i>
              <h4>Add another card</h4>
            </div>
          </li>
          <li class="column__item">
            <div class="column__title--wrapper">
              <h2>QA</h2>
              <i class="fas fa-ellipsis-h"></i>
            </div>
            <ul class="card__list">
              <li class="card__item">
                <span class="card__tag card__tag--browser">Browser</span>
                <h6 class="card__title">Embed all the things</h6>
                <ol class="card__actions">
                  <li class="card__actions--wrapper">
                    <i class="fas fa-align-left"></i>
                  </li>
                  <ol class="card__avatars">
                    <li class="card__avatars--item">
                      <!-- Photo by Philip Martin on Unsplash -->
                      <img src="https://images.unsplash.com/photo-1521119989659-a83eee488004?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=664&q=80" alt="Man standing near balcony" class="avatar__image">
                    </li>
                  </ol>
                </ol>
              </li>
              <li class="card__item">
                <span class="card__tag card__tag--mobile">Mobile</span>
                <span class="card__tag card__tag--high">High Priority</span>
                <h6 class="card__title">Pop-over max width issue on mobile</h6>
                <ol class="card__actions">
                  <li class="card__actions--wrapper">
                    <i class="fas fa-align-left"></i>
                    <i class="far fa-comment"></i><span class="card__actions--text">1</span>
                  </li>
                  <ol class="card__avatars">
                    <li class="card__avatars--item">
                      <!-- Photo by Michael Alfonso on Unsplash -->
                      <img src="https://images.unsplash.com/photo-1516756587022-7891ad56a8cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Woman, Lady, Female" class="avatar__image">
                    </li>
                    <li class="card__avatars--item">
                      <!-- Photo by Toa Heftiba on Unsplash -->
                      <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Woman standing near blue steel gate" class="avatar__image">
                    </li>
                  </ol>
                </ol>
              </li>
              <li class="card__item">
                <span class="card__tag card__tag--mobile">Mobile</span>
                <span class="card__tag card__tag--browser">Browser</span>
                <h6 class="card__title">Animated gif support</h6>
                <ol class="card__actions">
                  <li class="card__actions--wrapper">
                    <i class="fas fa-paperclip"></i>
                    <span class="card__actions--text">1</span>
                  </li>
                  <ol class="card__avatars">
                    <li class="card__avatars--item">
                      <!-- Photo by Toa Heftiba on Unsplash -->
                      <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Woman standing near blue steel gate" class="avatar__image">
                    </li>
                    <li class="card__avatars--item">
                      <!-- Photo by Michael Alfonso on Unsplash -->
                      <img src="https://images.unsplash.com/photo-1516756587022-7891ad56a8cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Woman, Lady, Female" class="avatar__image">
                    </li>
                  </ol>
                </ol>
              </li>
            </ul>
            <div class="column__item--cta">
              <i class="fas fa-plus"></i>
              <h4>Add another card</h4>
            </div>
          </li>
          <li class="column__item">
            <div class="column__title--wrapper">
              <h2>Ready For Launch</h2>
              <i class="fas fa-ellipsis-h"></i>
            </div>
            <ul class="card__list">
              <li class="card__item">
                <h6 class="card__title">Improved API documentation</h6>
                <ol class="card__actions">
                  <li class="card__actions--wrapper">
                    <i class="far fa-comment"></i><span class="card__actions--text">1</span>
                  </li>
                  <ol class="card__avatars">
                    <li class="card__avatars--item">
                      <!-- Photo by Michael Alfonso on Unsplash -->
                      <img src="https://images.unsplash.com/photo-1516756587022-7891ad56a8cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Woman, Lady, Female" class="avatar__image">
                    </li>
                    <li class="card__avatars--item">
                      <!-- Photo by Toa Heftiba on Unsplash -->
                      <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Woman standing near blue steel gate" class="avatar__image">
                    </li>
                  </ol>
                </ol>
              </li>
              <li class="card__item">
                <span class="card__tag card__tag--high">High Priority</span>
                <h6 class="card__title">Slow log-in issue</h6>
                <ol class="card__actions">
                  <li class="card__actions--wrapper">
                    <i class="far fa-comment"></i><span class="card__actions--text">1</span>
                  </li>
                  <ol class="card__avatars">
                    <li class="card__avatars--item">
                      <!-- Photo by Philip Martin on Unsplash -->
                      <img src="https://images.unsplash.com/photo-1521119989659-a83eee488004?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=664&q=80" alt="Man standing near balcony" class="avatar__image">
                    </li>
                    <li class="card__avatars--item">
                      <!-- Photo by Michael Alfonso on Unsplash -->
                      <img src="https://images.unsplash.com/photo-1516756587022-7891ad56a8cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Woman, Lady, Female" class="avatar__image">
                    </li>
                  </ol>
                </ol>
              </li>
              <li class="card__item">
                <span class="card__tag card__tag--high">High Priority</span>
                <h6 class="card__title">HTML 5 Support</h6>
                <ol class="card__actions">
                  <ol class="card__avatars">
                    <li class="card__avatars--item">
                      <!-- Photo by Philip Martin on Unsplash -->
                      <img src="https://images.unsplash.com/photo-1521119989659-a83eee488004?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=664&q=80" alt="Man standing near balcony" class="avatar__image">
                    </li>
                    <li class="card__avatars--item">
                      <!-- Photo by Toa Heftiba on Unsplash -->
                      <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Woman standing near blue steel gate" class="avatar__image">
                    </li>
                  </ol>
                </ol>
              </li>
              <li class="card__item">
                <span class="card__tag card__tag--design">Design</span>
                <span class="card__tag card__tag--mobile">Mobile</span>
                <h6 class="card__title">iOS app redesign</h6>
                <ol class="card__actions">
                  <li class="card__actions--wrapper">
                    <i class="far fa-comment"></i><span class="card__actions--text">1</span>
                  </li>
                  <ol class="card__avatars">
                    <li class="card__avatars--item">
                      <!-- Photo by Philip Martin on Unsplash -->
                      <img src="https://images.unsplash.com/photo-1521119989659-a83eee488004?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=664&q=80" alt="Man standing near balcony" class="avatar__image">
                    </li>
                    <li class="card__avatars--item">
                      <!-- Photo by Michael Alfonso on Unsplash -->
                      <img src="https://images.unsplash.com/photo-1516756587022-7891ad56a8cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Woman, Lady, Female" class="avatar__image">
                    </li>
                  </ol>
                </ol>
              </li>
            </ul>
            <div class="column__item--cta">
              <i class="fas fa-plus"></i>
              <h4>Add another card</h4>
            </div>
          </li>
          <li class="column__item">
            <div class="column__title--wrapper">
              <h2>Live</h2>
              <i class="fas fa-ellipsis-h"></i>
            </div>
            <ul class="card__list">
              <li class="card__item">
                <span class="card__tag card__tag--design">Design</span>
                <span class="card__tag card__tag--high">High Priority</span>
                <h6 class="card__title">Material Design for Android</h6>
                <ol class="card__actions">
                  <ol class="card__avatars">
                    <li class="card__avatars--item">
                      <!-- Photo by Philip Martin on Unsplash -->
                      <img src="https://images.unsplash.com/photo-1521119989659-a83eee488004?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=664&q=80" alt="Man standing near balcony" class="avatar__image">
                    </li>
                    <li class="card__avatars--item">
                      <!-- Photo by Michael Alfonso on Unsplash -->
                      <img src="https://images.unsplash.com/photo-1516756587022-7891ad56a8cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Woman, Lady, Female" class="avatar__image">
                    </li>
                  </ol>
                </ol>
              </li>
              <li class="card__item">
                <img src="https://trello-attachments.s3.amazonaws.com/5501f41bc85bf1470c685b5c/300x246/f758c01c7295548771c91bd52ccd6779/Emoji_Icons.jpg" class="card__image">
                <span class="card__tag card__tag--mobile">Mobile</span>
                <span class="card__tag card__tag--browser">Broser</span>
                <h6 class="card__title">Emoji support</h6>
                <ol class="card__actions">
                  <li class="card__actions--wrapper">
                    <i class="far fa-comment"></i>
                    <span class="card__actions--text">1</span>
                    <i class="fas fa-paperclip"></i>
                    <span class="card__actions--text">1</span>
                  </li>
                  <ol class="card__avatars">
                    <li class="card__avatars--item">
                      <!-- Photo by Philip Martin on Unsplash -->
                      <img src="https://images.unsplash.com/photo-1521119989659-a83eee488004?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=664&q=80" alt="Man standing near balcony" class="avatar__image">
                    </li>
                    <li class="card__avatars--item">
                      <!-- Photo by Michael Alfonso on Unsplash -->
                      <img src="https://images.unsplash.com/photo-1516756587022-7891ad56a8cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Woman, Lady, Female" class="avatar__image">
                    </li>
                  </ol>
                </ol>
              </li>
              <li class="card__item">
                <span class="card__tag card__tag--design">Design</span>
                <span class="card__tag card__tag--browser">Browser</span>
                <h6 class="card__title">New icons for web</h6>
                <ol class="card__actions">
                  <ol class="card__avatars">
                    <li class="card__avatars--item">
                      <!-- Photo by Philip Martin on Unsplash -->
                      <img src="https://images.unsplash.com/photo-1521119989659-a83eee488004?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=664&q=80" alt="Man standing near balcony" class="avatar__image">
                    </li>
                    <li class="card__avatars--item">
                      <!-- Photo by Michael Alfonso on Unsplash -->
                      <img src="https://images.unsplash.com/photo-1516756587022-7891ad56a8cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Woman, Lady, Female" class="avatar__image">
                    </li>
                  </ol>
                </ol>
              </li>
              <li class="card__item">
                <span class="card__tag card__tag--high">High Priority</span>
                <h6 class="card__title">Pasting from clipboard</h6>
                <ol class="card__actions">
                  <ol class="card__avatars">
                    <li class="card__avatars--item">
                      <!-- Photo by Philip Martin on Unsplash -->
                      <img src="https://images.unsplash.com/photo-1521119989659-a83eee488004?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=664&q=80" alt="Man standing near balcony" class="avatar__image">
                    </li>
                    <li class="card__avatars--item">
                      <!-- Photo by Michael Alfonso on Unsplash -->
                      <img src="https://images.unsplash.com/photo-1516756587022-7891ad56a8cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Woman, Lady, Female" class="avatar__image">
                    </li>
                  </ol>
                </ol>
              </li>
            </ul>
            <div class="column__item--cta">
              <i class="fas fa-plus"></i>
              <h4>Add another card</h4>
            </div>
          </li>
        </ul>
      </section>
    </section>
    <footer id="app-footer">
      <div class="container">
        footer
      </div>
    </footer>
  </div>
  <script type="importmap">
    { "imports": {
        "vue":               "https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.41/vue.esm-browser.prod.js",
        "vue-router":        "https://cdnjs.cloudflare.com/ajax/libs/vue-router/4.1.6/vue-router.esm-browser.min.js",
        "@vue/devtools-api": "https://unpkg.com/@vue/devtools-api@6.4.5/lib/esm/index.js"
      } 
    }
    </script>
  <script src="./main.js" type="module"></script>

  <template id="app-template">

  </template>

  <template id="kanban-board-template">
    <section id="kanban-board" class="board-wrapper view"></section>
  </template>

  <template id="column-list-template">
    <ul class="column__list">
      <kanban-column v-for="(index, column) in columns" :detail="column" />
    </ul>
  </template>

  <template id="column-template">
    <li class="column__item">
      <div class="column__title--wrapper">
        <h2>{{ title }}</h2>
        <i class="fas fa-ellipsis-h"></i>
      </div>

      <ul class="card__list">
        <kanban-card v-for="(index, card) in kanbanCards" :detail="card" />
      </ul>

      <div class="column__item--cta">
        <i class="fas fa-plus"></i>
        <h4>Add another card</h4>
      </div>
    </li>
  </template>

  <template id="kanban-card-template">
    <li class="card__item">
      <section class="card__tags">
        <span class="card__tag card__tag--mobile">Mobile</span>
        <span class="card__tag card__tag--high">High Priority</span>
      </section>

      <section class="card__content">
        <h6 class="card__content--title">Pop-over max width issue on mobile</h6>
      </section>

      <section class="card__content">
        <ol class="card__actions">
          <li class="card__actions--wrapper">
            <i class="fas fa-align-left"></i>
            <i class="far fa-comment"></i><span class="card__actions--text">1</span>
          </li>
        </ol>
      </section>

      <section class="card__content">
        <ol class="card__avatars">
          <li class="card__avatars--item">
            <!-- Photo by Michael Alfonso on Unsplash -->
            <img src="https://images.unsplash.com/photo-1516756587022-7891ad56a8cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Woman, Lady, Female" class="avatar__image">
          </li>
          <li class="card__avatars--item">
            <!-- Photo by Toa Heftiba on Unsplash -->
            <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Woman standing near blue steel gate" class="avatar__image">
          </li>
        </ol>
      </section>
    </li>
  </template>

  <template id="kanban-card2-template">
    <li class="card__item">
      <section class="card__tags">
        <span v-for="(index, tag) in tags" class="card__tag card__tag">{{ tag.label }}</span>
      </section>

      <section class="card__content">
        <h5 class="card__content--title">{{ title }}</h5>
        <div class="card__content--description">{{ description }}</div>
      </section>

      <section class="card__detail">
        <ol class="card__actions">
          <li class="card__actions--wrapper">
            <i class="fas fa-align-left"></i>
          </li>
          <li class="card__actions--wrapper">
            <i class="far fa-comment"></i>
            <span class="card__actions--text">1</span>
          </li>
        </ol>

        <ol class="card__avatars">
          <li class="card__avatars--item">
            <img src="https://images.unsplash.com/photo-1516756587022-7891ad56a8cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Woman, Lady, Female" class="avatar__image">
          </li>
          <li class="card__avatars--item">
            <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Woman standing near blue steel gate" class="avatar__image">
          </li>
        </ol>
      </section>
    </li>
  </template>
</body>

</html>